.home-component-container {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../imgs/space-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;
}

.home-component-container .home-center-info-title {
    font-size: 5vw;
    font-family: "Reddit Sans", sans-serif;
    font-weight: 700;
}

.home-component-container .home-center-info-subtitle {
    width: 50%;
    font-size: 1.2vw;
    font-family: "Roboto Slab", serif;
    font-weight: 200;
    text-align: justify;
}

.home-component-container .home-center-info-subtitle b {
    font-weight: 500;
}

.home-component-container .home-center-separator {
    width: 40%;
    border-top: solid .1px rgb(255, 255, 255);
    margin: 30px 0 30px 0;
}

.home-component-container .home-center-social-network-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15%;
}

.home-component-container .home-center-social-network-container img {
    width: 40px;
    cursor: pointer;
    filter: invert(100%) sepia(26%) saturate(0%) hue-rotate(295deg) brightness(106%) contrast(106%);
}

.home-component-container .home-center-social-network-container .github-logo:hover {
    filter: invert(16%) sepia(13%) saturate(643%) hue-rotate(169deg) brightness(94%) contrast(89%);
}

.home-component-container .home-center-social-network-container .linkedin-logo:hover {
    filter: invert(25%) sepia(76%) saturate(2219%) hue-rotate(197deg) brightness(95%) contrast(92%);
}