.header-component-container {
    height: 60px;
    width: 100vw;
    
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3%;

    background-color: rgba(0, 0, 0, 0.7);
    color: white;

    font-family: "Reddit Sans", sans-serif;
    text-transform: uppercase;
}